html {
    background-color: #003b3b;
}

body {
    background-color: #54fffe;
    color: #000;
    font-family: "General Sans", monospace;
    margin: 20px 50px 50px 50px;
    border: 3px solid #fff200;
    padding: 20px;
    line-height: 1.6;
    text-align: center;
}

h1, h2, h3, p, ul, li {
    color: #000;
    margin: 10px 0;
    text-align: center;
    list-style-position: inside;
}

a {
    color: #0000ee;
    text-decoration: underline;
}

.section-divider {
    margin: 16px 0;
    border-top: 3px solid rgba(218, 221, 25, 0.72);
}
